VITE_FIREBASE_API_KEY=buraya_yazilacak
VITE_FIREBASE_AUTH_DOMAIN=buraya_yazilacak
VITE_FIREBASE_PROJECT_ID=buraya_yazilacak
VITE_FIREBASE_STORAGE_BUCKET=buraya_yazilacak
VITE_FIREBASE_MESSAGING_SENDER_ID=buraya_yazilacak
VITE_FIREBASE_APP_ID=buraya_yazilacak
